# Gradle
.gradle/
build/
out/
bin/

# Maven local publish cache
!gradle/wrapper/gradle-wrapper.jar

# IDE
.vscode/
.idea/
*.iml
.vscode/settings.json
.vscode/tasks.json

# OS
Thumbs.db
.DS_Store

# Logs
*.log
