# Gradle
.gradle/
build/
out/
bin/

# Misc
src/App.java

# Maven local publish cache
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/settings.json

# OS
Thumbs.db
.DS_Store

# Logs
*.log
